---
import Layout from '../layouts/Layout.astro';
import Navbar from './components/Navbar.astro';
import Hero from './components/Hero.astro';
import Metrics from './components/Metrics.jsx';
import Product from './components/Product.jsx';
import Qopa from './components/Qopa.jsx';
import Industries from './components/Industries.jsx';
import Model from './components/Model.jsx';
import Faqs from './components/Faq.jsx';
import Cta from './components/CtaFinal.astro';
import Footer from './components/Footer.astro';

---

<Layout title="doma | Interacción Humano-IA">
  <Navbar />
  
  <main>
    <Hero />
  
    <Metrics client:visible />

    <Product client:visible />

    <Qopa client:visible />

    <Industries client:visible />

    <Model client:visible />

    <Faqs client:visible />

    <Cta />

    <Footer />
  </main>
</Layout>